html, body, .container1{
    width: 100%;
    /* height: 96%; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: max-content; */
    /* padding-top: 1rem; */
}

.partly_cloudy{
    background-image: url("https://media3.giphy.com/media/ZbISu3LvbjmE1QrkyZ/giphy.gif?cid=fb293c2dm7dv02o8lqtnt4ok87kt08ju1p2wusv091pxgldq&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.snow{
    background-image: url("https://media1.giphy.com/media/gH2bKIakvLuW4/giphy.gif?cid=fb293c2dhj2rnzkmzxpihtte0y2gvsuq5cweur3z6k9nn36b&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.rainy{
    background-image: url("https://media2.giphy.com/media/3oz8xLLygyhgYfSy9a/giphy.gif?cid=fb293c2dlgl4m80t5i9ru0lsgfzcn73pkpk3uoko50n4q72i&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.thunder_rain{
    background-image: url("https://media4.giphy.com/media/3osxYzIQRqN4DOEddC/giphy.gif?cid=fb293c2dwna258lqajfw9oy27o7dmpu9nhqq93i4nwfeu8ox&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.sunney{
    background-image: url("https://media1.giphy.com/media/1Fm7jEapE18HwS6fkT/giphy.gif?cid=fb293c2dtpfw3n4fez7kyo5r3zzlh4xl0odvo9q6f7iwk6x1&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.cloudy{
    background-image: url("https://media0.giphy.com/media/Pp9W9tuVF5NwQ/giphy.gif?cid=fb293c2den3uq09ml5bc4lchuc8h6wvclvyaqs9ggjngcx6u&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.wind{
    background-image: url("https://media0.giphy.com/media/l2JIhq7AR3J7Qq9Hy/giphy.gif?cid=fb293c2dpb3u9ikv5m5j7enu0opyn3sfn0wbsxcyw9keqvc7&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.clear_night{
    background-image: url("https://media2.giphy.com/media/IdMG2hVBohOuAggLX4/giphy.gif?cid=fb293c2d4mwujdsbgdcyrgwn3h0p63kdfz4rbry93x1pv4ae&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.fog{
    background-image: url("https://media3.giphy.com/media/ZWRCWdUymIGNW/giphy.gif?cid=fb293c2dcb2sdnkzf1zblo9llrtj9inazgc7tfh55hp29l4x&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.partly_cloudy_night{
    background-image: url("https://media2.giphy.com/media/ZeBEDzb6uxbWYUxZYA/giphy.gif?cid=fb293c2d8dt7upbckcm5voqz9kkbp14ti32gaxt3qs87i4qa&ep=v1_gifs_translate&rid=giphy.gif&ct=g");
}

.container2{
    width: 100%;
    /* height: 96%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border-top: 3rem solid #16a34a; */
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 0.5rem;
    margin-top: 2.5rem;
}

.inputs{
    display: flex;    
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (width >= 40em) {
        flex-direction: row;
        gap: 4rem;
    }
}

.date-info{
    display: flex;
    flex-direction: column;
    @media (width >= 40em) {
        flex-direction: row;
        gap: 3rem;
    }
    gap: 2rem;
}

.date{
    gap: 0.5rem;
}

.get-inputs{
    display: flex;
    justify-content: center;
    @media (width >= 40em) {
        flex-direction: row;
    }
    gap: 0.5rem;
}

.view-info{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
}

.day-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
}

.previous-day{
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-day{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.general-forecast, .hourly-forecast{
    width: 100%;
}

.outer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

html, body, .container1, .outer-div{
    background-color: #16a34a;
}

.container2, .common-description, .choose, .view-info{
    background-color: white;
    width: 100%;
}

.common-description, .choose, .view-infov{
    padding-bottom: 1rem;
}

.common-description{
    display: flex;
    flex-direction: column;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.description_unit{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.day-switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-bottom: 0.125rem;
}

.day-switch-btn{
    width: 8rem;
    height: 2rem;
    background-color: #ea580c;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-switch-btn:hover{
    border: 2px solid white;
}

.search-btn{
    background-color: white;
    color: #ea580c;
}

.date-picker, #search, .search-btn{
    height: 2rem;
    border-radius: 0.25rem;
    border: 2px solid #ea580c;
}

.date-info, .get-inputs, #invalid_data{
    align-items: center;
}

span{
    font-size: small;
    padding-left: 1rem;
}

.topic{
    font-weight: bold;
}

.hour{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
}

#invalid_data{
    font-size: 1rem;
    font-weight: bolder;
    display: none;
    color: red;
}

h1{
    display: flex;
    flex-direction: column;
    @media (width >= 40em) {
        flex-direction: row;
    }
}